<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.andrewbestbier.salesforcechat">

    <application
        tools:replace="android:requestLegacyExternalStorage"
        android:requestLegacyExternalStorage="true">
    </application>

</manifest>
